### Python
__pycache__/
*.py[cod]
*.pyd
*.so
.Python
*.log

### Virtual environments
.venv/
venv/
env/
ENV/

### Django
*.sqlite3
db.sqlite3
local_settings.py

### Environment variables
.env
.env.*

### Static files (GENERADOS)
staticfiles/

### Media (uploads de usuarios)
media/

### IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini

### Testing / coverage
.coverage
htmlcov/
.pytest_cache/

### Logs
*.log

### Gunicorn / producción
gunicorn.pid

### Node (si usas frontend)
node_modules/

### Otros
*.swp
